<footer>
  <div class="socials">
    <a href="https://github.com/lemarJul" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://m.me/julien.lemarchand" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
    <a href=<%= 'mailto:' + process.env.EMAIL_ADMIN %> > <i class="fas fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/julien-lemarchand-367b9b1b5/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="credits flex-column nogap" >
    <a href="https://www.flaticon.com/free-icons/flash-cards" title="favicon credit">Favicon by Freepik - Flaticon</a>
    <a href="https://lottiefiles.com/directdesign22" title="animations credit">Animation by Bashir Ahmed - LottieFiles</a>
      © 2024 Julien Lemarchand
  </div>
  
</footer>