<% if(locals.test) { 
  locals.user = {username : 'Julien', id: 1} 
}%>

<nav>
  <ul>
    <li>
      <a href="/">
        <img
          class="logo"
          src="/images/logo-dark.png"
          alt="Logo"
          width="250px"
        />
      </a>
    </li>

    <% if (!locals.user) { %>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/login">Sign In</a>
    </li>

    <% } else { %>
    <li>
      <a href="/dashboard">Dashboard</a>
    </li>
    <li>
      <a href="/flashcards">Your Flashcards</a>
    </li>
    <li>
      <a href="/profile"> <%= locals.user.username %> </a>
    </li>

    <% } %>
  </ul>
</nav>
