<nav>
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333;">
        <li style="float: left;"><a href="/" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Home</a></li>
        <li style="float: left;"><a href="/about" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">About</a></li>
        <li style="float: right;"><a href="/login" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Sign In</a></li>
    </ul>
</nav>