<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
  </head>
  <body>
    <h1><%= locals.title %></h1>

    <form action="/signup" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Username" />
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Email" />
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" />
      <label for="password2">Confirm Password</label>
      <input type="password" name="confirmPassword" placeholder="Password" />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
