<% layout('pages/boilerplate') %> <% block('title').append('About') %>
<div>
  <h2>What is Mnemoniac ?</h2>
  <p>
    This is a simple web app to create and manage flashcards for your study
    sessions using the Leitner System.
  </p>

  <h2>What are flashcards?</h2>
  <p>
    Flashcards are a popular and effective tool for learning and memorization.
    They typically consist of a card with a question or concept on one side and
    the answer or explanation on the other. This simple format allows learners
    to test their knowledge and receive immediate feedback, reinforcing the
    learning process.
  </p>

  <h2>What is the Leitner System?</h2>
  <p>
    The Leitner System, developed by German scientist Sebastian Leitner in the
    1970s, is a method of using flashcards that incorporates the principles of
    spaced repetition. The system involves sorting flashcards into different
    groups or boxes based on how well the learner knows each card. Cards that
    are answered correctly are promoted to a box that is reviewed less
    frequently, while cards that are answered incorrectly are demoted to a box
    that is reviewed more frequently.
  </p>

  <p>
    The Leitner System is designed to optimize the learning process by focusing
    on the most challenging material. By reviewing difficult cards more
    frequently, the learner can spend more time on the areas that need
    improvement. At the same time, the system ensures that easier material is
    not forgotten, as these cards are still reviewed periodically.
  </p>

  <p>
    The Leitner System also provides a sense of progress and achievement. As
    cards are promoted to higher boxes, the learner can see tangible evidence of
    their learning and improvement. This can be a powerful motivator,
    encouraging the learner to continue studying and mastering the material.
  </p>

  <p>
    In conclusion, flashcards and the Leitner System are powerful tools for
    learning and memorization. By combining the simplicity and immediate
    feedback of flashcards with the efficiency and motivation of the Leitner
    System, learners can optimize their study sessions and achieve their
    learning goals.
  </p>
</div>
<div>
  <a href="/upcoming">See upcoming features</a>
</div>
