<% layout('pages/boilerplate') -%> <%- block('title').append('Home') %>

<main>
  <script
    src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
    type="module"
  >
    window.onload = (event) => {
      const player = document.querySelector('dotlottie-player');
      player.addEventListener('loop', () => {
        player.direction *= -1;
      });
    }
  </script>

  <div class="flex-row" style="gap: 50px">
    <dotlottie-player
      src="https://lottie.host/b1d4e5a9-70ac-4fed-963e-ea4394e343aa/j2pbR0lLZ8.json"
      background="transparent"
      speed="1"
      style="width: 400px; height: 400px"
      PlayMode="bounce"
      loop
      autoplay
    ></dotlottie-player>

    <div class="flex-column" style="width: 400px; text-align: center">
      <h1>Want to boost your Neural Network ?</h1>
      <input
        style="width: 80%"
        class="button"
        type="button"
        value="Try Flashcards !"
        onclick="window.location.href='/discover'"
      />
      <input
        style="width: 80%"
        class="button button-secondary"
        type="button"
        value="Sign In"
        onclick="window.location.href='/login'"
      />
    </div>
  </div>
</main>
