<% layout('pages/boilerplate')%>

<h3>Register New Flashcard</h3>
<form action="/submit-flashcard" method="post">
  <div >
    <label for="question">Question:</label>
    <textarea  id="question" name="question" rows="5" cols="45" placeholder="What is..." style="flex-grow: 1;" autofocus required /></textarea>
  </div>
  <div class="">
      <label for="answer">Answer:</label>
      <textarea  id="answer" name="answer" rows="5" cols="45" /></textarea>
    </div>
    <div class="flex-row">
        <label for="categories">Categories:</label>
        <input type="text" id="categories" name="categories" required style="flex-grow: 1";"/>
    </div>
  <input type="submit" value="Submit" />
</form>
