<% layout('pages/boilerplate') -%> <% block('title').append('Sign Up') %>

<form action="/signup" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username" />
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Email" />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" />
    <label for="password2">Confirm Password</label>
    <input type="password" name="confirmPassword" placeholder="Password" />
  </div>
  
    <input class="button" type="submit" value="Sign Up" />
    
  <hr style="width: 100%; margin: 20px auto" />
  <!-- Add this line -->

  <div class="more-actions">
    <p style="text-align: center; font-size: smaller">
      Already have an account? <a href="/login">Sign In</a>
    </p>
  </div>
</form>
